[nz-menu] {
  width: 240px;
}

.header {
  display: flex;
  align-items: center;
}

.ant-layout.ant-layout-has-sider {
  height: 100%;
}

.sider-menu {
  margin-top: 15px;
  border-right: none;
}
::ng-deep {
  .liActive:not(.noSub) {
    border-right: 3px solid #97be0d;
    background-color: #feffe6;

    a {
      color: #97be0d;
    }
  }

  .liActive {
    border-right: none;
    div:nth-child(1) {
      border-right: 3px solid #97be0d;
      color: #97be0d;
    }
  }

  .liSubActive {
    color: #97be0d;
  }
}

