<div class="action-mapping-component">
  <app-page-header
    [title]="'Mapping'"
    [subTitle]="'Mapping form to actions'"
    [enableButton]="false"
    [onClick]="addMapping"
    [btnTitle]="'Add Mapping'"
  ></app-page-header>


  <ng-container *ngFor="let formAction of formActions">
    <div nz-row class="mt-10">
      <div nz-col nzSpan="6">
        <div nz-typography class="text-bold">Form</div>
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a form" [(ngModel)]="formAction.form.id">
          <nz-option *ngFor="let form of forms" [nzLabel]="form.name" [nzValue]="form.id"></nz-option>
        </nz-select>
      </div>
      <div nz-col nzSpan="12">
        <div nz-typography class="text-bold">Action</div>
        <nz-tag *ngFor="let action of formAction.actions; let i = index"
                [nzColor]="getRandomColorTag(i)">{{ action.name }}
        </nz-tag>
      </div>
    </div>
  </ng-container>
  <div class="mt-20">&nbsp;</div>
  <div class="mt-20 d-flex gap-3">
    <button nz-button nzType="dashed" (click)="addMapping()">Add mapping</button>
    <button nz-button nzType="primary" (click)="saveMapping()">Save mapping</button>
  </div>
</div>
