// theme colors
$primary  : #686868;
$secondary: #FBBC05;

$success  : #97be0d;
$danger   : #ec695a;
$warning  : #ff7a00;
$info     : #82d4ef;
$info-1   : #3fc7e8;
$info-2   : #31a3f4;

// text colors
$text-dark : #000;
$text-light: #fff;

// background
$background    : #f4f4f4;

// fonts
$primary-font: 'Roboto';
$gutter: 10px;

