<div class="wrapper">
  <nz-layout>
    <nz-header>
      <app-header></app-header>
    </nz-header>
    <nz-layout class="main">
      <nz-sider nzWidth="250px" nzTheme="light">


        <ul nz-menu [nzMode]="'inline'" nzTheme="light" class="sider-menu">
          <li nz-submenu nzTitle="Form Builder" nzIcon="setting">
            <ul>
              <li nz-menu-group nzTitle="Form">
                <ul>
                  <li nz-menu-item>
                    <a routerLink="" class="d-flex" style="gap: 5px">
                      <i nz-icon nzType="unordered-list" nzTheme="outline"></i>
                      List Form
                    </a>
                  </li>
                  <li nz-menu-item>
                    <a routerLink="/forms/create" class="d-flex" style="gap: 5px">
                      <i nz-icon nzType="edit" nzTheme="outline"></i>
                      Create Form
                    </a>
                  </li>
                </ul>
              </li>

              <li nz-menu-group nzTitle="Submission data">
                <ul>
                  <li nz-menu-item>
                    <a routerLink="/submissions" class="d-flex" style="gap: 5px">
                      <i nz-icon nzType="unordered-list" nzTheme="outline"></i>
                      List Submission
                    </a>
                  </li>
                  <li nz-menu-item>
                    <a routerLink="/submissions/add" class="d-flex" style="gap: 5px">
                      <i nz-icon nzType="edit" nzTheme="outline"></i>
                      Add Submission
                    </a>
                  </li>
                </ul>
              </li>

              <li nz-menu-group nzTitle="Action">
                <ul>
                  <li nz-menu-item>
                    <a routerLink="/actions" class="d-flex" style="gap: 5px">
                      <i nz-icon nzType="interaction" nzTheme="outline"></i>
                      List Action
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>




          <li nz-menu-item nzMatchRouter>
            <a class="d-flex" style="gap: 5px"><i nz-icon nzType="logout" nzTheme="outline"></i>Logout</a>
          </li>
        </ul>
      </nz-sider>

      <div class="main-content">
        <div class="inner-layout">
          <router-outlet></router-outlet>
        </div>
      </div>
    </nz-layout>
  </nz-layout>

</div>
